/* Larger Laptops */
@media (min-width: 992px) {

}

/* Laptops */
@media (max-width: 1024px) {

}

/* Small Laptops */
@media (max-width: 991px) {

}

/* Tablets */
@media (max-width: 768px) {

    .aph-logo {
        width: 500px
    }

    .contact-info p {
        font-size: 24px;
    }

    .info-banner {
        font-size: 35px;
    }

}

/* Large Smartphones */
@media (max-width: 425px) {

    .aph-logo {
        width: 350px
    }

    .contact-info p {
    font-size: 22px;
    }

    .info-banner {
        font-size: 35px;
        padding: 0px 8px;
    }

    .about-info {
        padding: 0px 8px;
    }

    .service-con {
        padding: 0px 8px;
    }

    .service-col {
        font-size: 12px;
    }

    .form-check-label {
        font-size: 14px;
    }

    /* Back to top button */
    #back-to-top-btn {
        bottom: 87px;
        right: 9px;

    }

}

/* Medium Smartphones */
@media (max-width: 375px) {

    .aph-logo {
        width: 325px
    }

    .info-banner {
        font-size: 30px;
    }

}

/* Small Smartphones */
@media (max-width: 320px) {

    .aph-logo {
        width: 275px
    }

    .contact-info p {
        font-size: 18px;
    }

    .info-banner {
        font-size: 25px;
    }

}